{% extends 'ecommerce/base.html'%}
{% block content %}
    {% load crispy_forms_tags %}
    <!-- Blog Entries Column -->
      <div class="col-md-8 mt-4 offset-2">
        <div class="card mb-4">
            <h4 class="card-header">Login your Account</h4>
          <div class="card-body">
            <form method="POST"> {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Log in</button>
                <pre></pre>
                <p>Don't have an Account? <a href="{% url 'register' %}">Sign Up</a></p>
            </form>
          </div>
        </div>
      </div>
{% endblock %}